name: Build executable

on:
  push:
    tags:
      - "v2.*.*"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install pyinstaller && pip install -r src/requirements.txt
      - name: Build executable
        run: pyinstaller --hidden-import=jinxed.terminfo.vtwin10 --onefile src/main.py -n DrillsterBot.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: DrillsterBot
          path: dist/DrillsterBot.exe
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: DrillsterBot
          path: ./
      - name: rename exe
        run: |
          mv DrillsterBot.exe DrillsterBot-${{  github.ref_name }}.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: DrillsterBot-${{  github.ref_name }}.exe
      - name: Done
        run: echo Done
      